@import './../../static/scss/settings/variables.scss';

.faq__card {

    position: relative;

    .faq__card-title {
        &:hover {
            cursor: pointer;
            color: $color-accent;
        }
    }

    .faq__description {
        height: 0;
        margin: 0;
        opacity: 0;

        &.active {
            height: auto;
            opacity: 1;
        }
    }

    .faq__card-icon {
        position: absolute;
        right: 10px;
        
        font-size: 20px;
    }
}