@import '../../static/scss/settings/variables.scss';

.endpoint-markdown {
    position: relative;

    table {
        border: 1px solid $color-gray-3;
        width: 100%;

        tr:nth-child(odd) {
            background: $color-gray-3;
        }

        tr:nth-child(even) {
            background: $color-gray-4;
        }

        th {
            background: $color-gray-4;
        }

        td, th {
            padding: 10px;
        }

        margin-bottom: 10px;
    }

    .center-paragraph {
        text-align: center;
    }

    h1, h2, h3 {
        font-weight: bold;
    }

    h1 {
        font-size: 1.8em;

        &.endpoint-title {
            font-size: 2em;
            margin-bottom: 80px;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    p {
        strong {
            font-weight: bold;
        }
    }

    .dev-console {
        
        .dev-console-access {
            position: absolute;
            right: 10px;
            top: -10px;
            background: $color-pre-code;
            color: $color-accent;
            padding: 10px;
            border-radius: 4px;

            &:hover {
                cursor: pointer;
                color: $color-gray-4;
            }
        }

        .dev-console-content {
            padding-top: 10px;
        }

        label {
            font-size: 1em;
            font-weight: bold;
        }

        .ace_editor {
            height: 300px !important;
            line-height: 1.2em !important;
            font-size: 0.88em !important;
            overflow-y: auto !important;
            border-radius: 4px !important;
        }
    }
}
