@import './../../static/scss/settings/variables.scss';

.section-api-top-space {

    margin-top: 90px;

    .apis-section {

        position: absolute;
        left: 30px;
        right: 30px;
        top: 160px;
        height: 80%;

        .menu-api {
            position: relative;
            max-height: 98%;
            overflow-y: auto;
    
            .content-menu {
                .topics-menu, .endpoints-menu {
                    li {
                        margin-bottom: 10px;
                        width: 220px;
                    }
                }
            }
        }
    
        .topics {
            padding-top: 30px;
        }
    
    
        .apis-description {
            height: 98%;
            overflow-y: auto;
            margin-top: 0 !important;
        }
    }
}