@import './../../static/scss/main.scss';
@import './apps.scss';
@import './how-do.scss';
@import './index.scss';
@import './modeling.scss';
@import './updates-api.scss';
@import './api-browser.scss';
@import './docs/api.scss';
@import './../../static/scss/vendor/prism.scss';

a {
    color: $color-text-main;
    &:hover {
        color: $color-accent;
    }

    &:visited {
        color: $color-text-main;
        &:hover {
            color: $color-accent;
        }
    }
}

textArea {
    resize: none;
}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.notification-container {
    
    &.Toastify__toast--success {
        background: $color-success;
    }

    &.Toastify__toast--error {
        background: $color-error;
    }

    &.Toastify__toast--warning {
        background: $color-warn;
    }

    &.Toastify__toast--info {
        background: $color-info;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: $color-background-main;
}

::-webkit-scrollbar-thumb {
    background: $color-gray-1;
}