#swaggerUI {
    .scheme-container {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .info {
        .main {
            small {
                height: 25px;
                top: 0;

                .version {
                    margin-top: -25px;
                }
            }
        }
    }
}

@media(max-width: 1580px) {
    #swaggerUI {
        .scheme-container {
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
    }
}